{% extends 'tcc/base.html' %}

{% block content %}

	<h2>Detalhes do exame</h2>

	<p>Id Exame: {{ exames.id_exame }}</p>

	<p>Id Consulta: {{ exames.id_consulta.id_consulta }}</p>

	<p>Data Solicitação Exame: {{ exames.data_exame }}</p>

	<p>Tipo Exame: {{ exames.tipo_exame }}</p>

	<p>Descrição: {{ exames.descricao_exame }}</p>

	{% if exames.resultado_exame %}
		<a role="button" class="btn btn-primary" href="../../media/{{ exames.resultado_exame }}">Resultado</a>
	{% endif %}
	<a role="button" class="btn btn-default" href="{% url 'get_all_exames' %}">Voltar</a>

	



{% endblock %}