{% extends 'tcc/base.html' %}

{% block content %}

	<h1>Cadastro de Paciente</h1>

	<div class="form-group">
		<form action="{% url 'create_paciente' %}" method="POST">
		

			<p>Nome: <input class="form-control" type="text" name="nome_p" id="nome_p"></p>

			<p>Email:<input class="form-control" type="text" name="email_p" id="email_p"></p>

			<p>CPF: <input class="form-control" type="text" name="cpf_p" id="cpf_p"></p>

			<p>Data de Nascimento: <input class="form-control" type="date" name="data_p" id="data_p"></p>

			{% csrf_token %}

			<button class="btn btn-primary" type="submit">Salvar</button>
			<a class="btn btn-default" href="{% url 'get_all_paciente' %}" role="button">Cancelar</a>

		</form>
	</div>
	
	
	

{% endblock %}