{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sistema de Gestão de Clínica Médica</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/projeto.css">
	
</head>
<body>

	
	<div class="container">
	  
	   	<div class="row">
	   		<div class="page-header">
    			<h1>Sistema de Gestão de Clínica Médica</h1>      
  			</div>
  			
  			
  				<div role="main">
		           	<h2>Detalhes da receita</h2>

					<p>Id da receita: {{ receita.id_receita }}</p>

					<p>Id da Consulta: {{ receita.id_consulta.id_consulta }}</p>

					<p>Nome do Paciente: {{ receita.id_consulta.id_paciente.nome_paciente }}</p>

					<p>Nome do Medico: {{ receita.id_consulta.id_medico.nome_funcionario }}</p>

					<p>Descrição da receita: {{ receita.descricao_receita }}</p>

					<p>Medicamentos:
						{% for m in receita.id_medicamento.all %}
							{{ m.nomegen_medicamento }}
						{% endfor %}
					</p>
					<p>Data de Emissão: {{receita.data_receita}}</p>
		      	</div>
		      	
		    
	       
	   	</div>
	   	<footer class="row">
	       
	   	</footer>
	</div>

</body>
</html>